#jinja2: trim_blocks: True, lstrip_blocks: True
#!/bin/bash
#
# {{ ansible_managed }}
#
# Backup for simple servers - shell script.
#
# @author Jeff Geerling, 2014, 2017
# @author Julien Tardot, 2024


# Common variables

RSYNC="{{ backup_rsync_path }}"
RSYNC_OPTS="{{ backup_rsync_all_options | join(' ') }}"

REMOTE="{{ backup_is_local | ternary('', backup_remote_connection ~ ':') }}"
REMOTE_DEST="{{ backup_remote_base_path }}/{{ backup_identifier_suffix }}"

{% if backup_log_base_path %}
LOGFILE="{{ backup_log_base_path }}/{{ backup_conf_name }}-$(date +'%Y-%m-%d').log"
{% endif %}

echo ""
echo "# {{ backup_conf_name }}.sh"
echo "#"
{% for directory in backup_directories %}
echo "#  - {{ directory }}"
{% endfor %}
echo "#"
echo "#  -> ${REMOTE}${REMOTE_DEST}"
echo "#"
echo ""

# Start
{% if backup_log_base_path %}
echo -e "$(date +'%Y-%m-%d %T') Backup start" | tee -a "$LOGFILE"
{% endif %}

# Backup
{% if backup_directories | length > 0 %}
{% if backup_privileged | default(false) %}
sudo {{ backup_sudo_options }} \
{% endif %}
$RSYNC $RSYNC_OPTS \
  {% if backup_remote_connection_ssh_options %}
  -e "ssh {{ backup_remote_connection_ssh_options }}" \
  {% endif %}
  --exclude-from {{ backup_conf_path }}/{{ backup_exclude_name }}-rsync-exclude.txt \
  {% for directory in backup_directories %}
  "{{ directory }}" \
  {% endfor %}
  ${REMOTE}${REMOTE_DEST}{% if backup_log_base_path %} \
2>&1 | tee -a "$LOGFILE"
{% endif %}
{% endif %}

# End
{% if backup_log_base_path %}
echo -e "\n$(date +'%Y-%m-%d %T') Backup end\n" | tee -a "$LOGFILE"
{% endif %}

#
